/**/*.class
/**/*.jar
**/*.class
**/*.jar
*.class
*.[oa]
*~
*.jar
out/
bin/
.metadata/
scoref/.metadata/
Test/
Servers/
/Servers/**/*
/dist/**/*
.classpath
/.classpath/**/*
.settings
/.settings/**/*
.metadata/
/.metadata/**/*
.project
/reports/
/WebContent/WEB-INF/lib/*.jar
.launches/
dist/
doc/database/*.tar.gz
doc/database/*.backup
doc/database/*.sql
